@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=JetBrains+Mono:wght@400;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css');
@import url('/css/themes.css');

@keyframes screenOut {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes pageIn {
    0% { opacity: 0; transform: scale(0); }
    10% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes pageOut {
    0% { opacity: 1; transform: scale(1); z-index: -1; }
    50% { opacity: 0; transform: scale(0.5); z-index: -1; }
    100% { opacity: 0; transform: scale(0); z-index: -1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

::selection {
    background: #0268db60;
}

::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

*::-webkit-scrollbar {
    display: block;
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border: 4px solid transparent;
    border-radius: 24px;
    box-shadow: 0 0 0 4px var(--text-color) inset;
}

*::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent;
}

* {
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}

html, mfb-button.theme {
    --font: 'Fredoka';
    --font-size: 20pt;

    --margins: .5cm;
    --width: 16cm;

    --button-height: 2em;
    --border: 2px;
    --radius: 0.4;
    --shadow-base: .1cm;
    --shadow: var(--shadow-base);

    --background-image: none;
    --background-color: #808080;
    --button-image: none;
    --button-color: #808080;
    --border-color: #808080;
    --text-color: #808080;
    --link-color: #808080;
}

body {
    margin: 0;
    min-height: 100vh;

    background: var(--background-color);
    background-image: var(--background-image);
    background-size: 100vh;
    background-attachment: fixed;
  
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--text-color);

    transition: background 0.2s ease-in-out,
                color 0.2s ease-in-out;
    
    overflow-x: hidden;
    overflow-y: auto;
}

mfb-fadein {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;

    background: var(--background-color);

    animation: screenOut 1s ease-out forwards;

    pointer-events: none;
}

mfb-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

mfb-page.fadeIn {
    animation: pageIn 0.4s cubic-bezier(0.3, 1, 0.5, 1) forwards;
    pointer-events: none;
}

mfb-page.fadeOut {
    animation: pageOut 0.4s linear forwards;
    pointer-events: none;
}

mfb-innerpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: var(--margins);

    padding: var(--margins);
}

mfb-contentbox {
    display: flex;
    flex-direction: column;
    gap: var(--margins);
}

mfb-heading {
    max-width: 80vw;
    text-align: center;
    white-space: pre-line;
    font-size: 40pt;

    margin-bottom: calc(var(--margins) * -0.5);
}

mfb-subheading {
    max-width: 80vw;
    text-align: center;
    white-space: pre-line;
    font-size: 30pt;

    margin-bottom: calc(var(--margins) * -0.5);
}

mfb-text {
    max-width: 80vw;
    text-align: center;
    white-space: pre-line;
}

mfb-button {
    display: flex;
    flex-direction: row;
    min-width: min(max(var(--button-height), 12vw), calc(var(--button-height) * 2.0));
    width: calc(100vw - var(--margins) * 2.0);
    max-width: var(--width);
    min-height: var(--button-height);
    padding: .2em;

    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    white-space: pre;
    user-select: none;

    background: var(--button-color);
    background-image: var(--button-image);
    background-size: 100% 100%;
    border-radius: calc(var(--button-height) * var(--radius) / 2.0);
    border: var(--border) solid var(--border-color);

    box-shadow: 0 var(--shadow) 0 var(--border-color);
    transform: translateY(calc(var(--shadow) * -1));

    overflow: hidden;

    transition: box-shadow 0.3s cubic-bezier(0.2, 0, 0.2, 2.5),
                transform 0.3s cubic-bezier(0.2, 0, 0.2, 2.5),
                background 0.2s ease-in-out,
                color 0.2s ease-in-out,
                border 0.2s ease-in-out;
}

mfb-button[multiline] {
    flex-direction: column;
    white-space: pre-line;
    text-align: center;
}

@media only screen and (max-width: 9cm) {
    mfb-button > .button-icon {
        display: none;
    }
}

mfb-button::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    
    background: var(--border-color);
    opacity: .3;

    transition: left 0.5s cubic-bezier(0.1, 0.5, 0.3, 0.8),
                opacity 0.3s linear;
}

mfb-button:hover {
    --shadow: calc(var(--shadow-base) * 1.7);

    cursor: pointer;
}

mfb-button:hover::after {
    left: 0;
}

mfb-button:active {
    --shadow: var(--shadow-base);
}

mfb-button:active::after {
    opacity: .125;
}

mfb-textinput {
    display: flex;
    flex-direction: row;
    min-width: calc(var(--button-height) * 2.0);
    width: calc(100vw - var(--margins) * 2.0);
    max-width: var(--width);
    min-height: var(--button-height);
    padding-top: calc(var(--shadow) * 2.0);

    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    background: var(--button-color);
    background-image: var(--button-image);
    background-size: 100% 100%;
    border-radius: calc(var(--button-height) * var(--radius) / 2.0);
    border: var(--border) solid var(--border-color);
    outline: none;

    box-shadow: 0 var(--shadow) 0 var(--border-color) inset;

    overflow: hidden;

    transition: background 0.2s ease-in-out,
                color 0.2s ease-in-out,
                border 0.2s ease-in-out;
}

mfb-seperator {
    display: block;
    width: calc(80vw - var(--margins) * 2.0);
    max-width: calc(var(--width) * 0.8);
    height: var(--border);
    
    background: var(--border-color);

    transition: background 0.2s ease-in-out;
}

mfb-status {
    position: fixed;
    top: calc(var(--margins) / 2.0);
    left: calc(var(--margins) / 2.0);
    z-index: 1000;

    white-space: nowrap;
}

mfb-copyright {
    position: fixed;
    bottom: calc(var(--margins) / 2.0);
    right: calc(var(--margins) / 2.0);
    z-index: 1000;

    white-space: nowrap;
}

mfb-row {
    display: flex;
    flex-direction: row;
    gap: var(--margins);
    width: calc(100vw - var(--margins) * 2.0);
    max-width: var(--width);
}

mfb-row > * {
    width: unset;
    max-width: unset;
    flex-grow: 1;
}

mfb-spacer {
    display: block;
}

mfb-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1;

    background: var(--background-color);
    padding: calc(var(--margins) / 2.0);
    border-top: var(--border) solid var(--border-color);
}

mfb-footer > * {
    width: unset;
    max-width: unset;
}

a {
    color: var(--link-color);
    transition: color .2s;
}

.button-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--button-height);
    height: 100%;

    line-height: calc(var(--button-height) - 2px);
    text-align: center;
}

.link-handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bold {
    font-weight: 600;
}

.noselect {
    user-select: none;
}

.nogrow {
    flex-grow: 0;
}

.hidden {
    display: none;
}
