html.light, mfb-button.theme.light {
    --background-color: #f0f0f0;
    --button-color: #e8e8e8;
    --border-color: #d0d0d0;
    --text-color: #707070;
    --link-color: #7b9fc6;
}

html.dark, mfb-button.theme.dark {
    --background-color: #404040;
    --button-color: #383838;
    --border-color: #303030;
    --text-color: #a0a0a0;
    --link-color: #5c7d9e;
}

html.matcha, mfb-button.theme.matcha {
    --background-color: #a9d784;
    --button-color: #9fd076;
    --border-color: #8ec164;
    --text-color: #56713f;
    --link-color: #5da126;
}
  
html.taro, mfb-button.theme.taro {
    --background-color: #b898ce;
    --button-color: #ac83ca;
    --border-color: #a075bd;
    --text-color: #654d77;
    --link-color: #702f9d;
}
  
html.redbean, mfb-button.theme.redbean {
    --background-color: #4d272e;
    --button-color: #442128;
    --border-color: #3c1d23;
    --text-color: #9b787f;
    --link-color: #cc3554;
}

html.neon, mfb-button.theme.neon {
    --background-image: url('/img/themes/neon.jpg');
    --background-color: #000;
    --button-color: #0e0e0e80;
    --border-color: #ff8;
    --text-color: #ff8;
    --link-color: #f80;
    --shadow: 0cm;
    --shadow-base: 0cm;
}

html.neon mfb-button:not(.theme), mfb-button.neon.theme {
    box-shadow: 0 0 8px #ff0,
                0 0 8px #ff0 inset;
    text-shadow: 0 0 8px #ff0;
}

html.neon mfb-text {
    text-shadow: 0 0 8px #ff0;
}

html.neon mfb-seperator {
    box-shadow: 0 0 8px #ff0;
}

html:not(.neon) mfb-button.theme.neon {
    background: #0e0e0e;
}

html.neon > body {
    background-size: 100% 100%;
    background-attachment: fixed;
}

html.bluestars, mfb-button.theme.bluestars {
    --background-image: url('/img/themes/stars-blue.jpg');
    --background-color: #092f40;
    --button-color: #0c374a;
    --border-color: #072a39;
    --text-color: #718893;
    --link-color: #2b7191;
}

html.bluestars > body {
    background-size: cover;
    background-attachment: fixed;
}

html.purplestars, mfb-button.theme.purplestars {
    --background-image: url('/img/themes/stars-purple.jpg');
    --background-color: #3e093e;
    --button-color: #480c4b;
    --border-color: #39073b;
    --text-color: #937194;
    --link-color: #902b91;
}

html.purplestars > body {
    background-size: cover;
    background-attachment: fixed;
}

html.watermelon1, mfb-button.theme.watermelon1 {
    --background-color: #F7A284;
    --button-color: #BADF93;
    --border-color: #36BFAB;
    --text-color: #387E83;
    --link-color: #DB1073;
}

html.watermelon2, mfb-button.theme.watermelon2 {
    --background-color: #BADF93;
    --button-color: #F7A284;
    --border-color: #E9597C;
    --text-color: #796268;
    --link-color: #36BFAB;
}

html.trans, mfb-button.theme.trans {
    --background-image: url('/img/themes/trans.jpg');
    --background-color: #d5d6db;
    --button-color: #e8e8e8;
    --border-color: #d0d0d0;
    --text-color: #707070;
    --link-color: #5897ca;
}

html.trans > body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

html.gay, mfb-button.theme.gay {
    --background-image: url('/img/themes/gay.jpg');
    --background-color: #b2b26d;
    --button-color: #fedf9c;
    --border-color: #cfb375;
    --text-color: #606e5b;
    --link-color: #c4411c;
}

html.gay > body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html.bi, mfb-button.theme.bi {
    --background-image: url('/img/themes/bi.jpg');
    --background-color: #6d3a7f;
    --button-color: #db92cb;
    --border-color: #b863a5;
    --text-color: #8f3f7c;
    --link-color: #d0295f;
}

html.bi > body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html.lesbian, mfb-button.theme.lesbian {
    --background-image: url('/img/themes/lesbian.jpg');
    --background-color: #bf4949;
    --button-color: #f2b19b;
    --border-color: #c57e71;
    --text-color: #725952;
    --link-color: #d44c5e;
}

html.lesbian > body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html.pusheentoast, mfb-button.theme.pusheentoast {
    --background-image: url('/img/themes/pusheentoast.jpg');
    --background-color: #e1d3ed;
    --button-color: #ebd8c9;
    --border-color: #d2aea2;
    --text-color: #7e5574;
    --link-color: #b6559f;
}

html.pusheentoast > body {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

html.pusheencupcake, mfb-button.theme.pusheencupcake {
    --background-image: url('/img/themes/pusheencupcake.jpg');
    --background-color: #ffffff;
    --button-color: #f8f8f8;
    --border-color: #dfd5da;
    --text-color: #8f6685;
    --link-color: #d87a94;
}

html.pusheencupcake > body {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

html.sus, mfb-button.theme.sus {
    --background-image: url('/img/themes/drip.jpg');
    --background-color: #223;
    --button-image: url('/img/themes/sus.jpg');
    --button-color: #000;
    --border-color: #000;
    --text-color: #fff;
    --link-color: #0ff;
}

html.sus > body {
    background-size: 100% 100%;
}

html.contrast, mfb-button.theme.contrast {
    --font: 'JetBrains Mono';
    --font-size: 18pt;
    --background-color: #000;
    --button-color: #000;
    --border-color: #fff;
    --text-color: #fff;
    --link-color: #44f;
    --shadow: 0cm;
    --shadow-base: 0cm;
    --radius: 0;
}

html.stealth, mfb-button.theme.stealth {
    --background-color: #fff;
    --button-color: #fff;
    --border-color: #fff;
    --text-color: #f0f0f0;
    --link-color: #e8e8ff;
}

html.lsd, mfb-button.theme.lsd {
    --background-image: url('/img/themes/seizure1.gif');
    --background-color: #ff00ff;
    --button-image: url('/img/themes/seizure2.gif');
    --button-color: #ff0000;
    --border-color: #00ff00;
    --text-color: #ffff00;
    --link-color: #00ffff;
}
